@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.signup-container {
    font-family: Pacifico;
    margin: auto;
    width: 20%;
    padding: 10px;
    align-content: center;
    
}
#signup-field{
    margin: auto;
    align-content: center;
    border: 5px solid #0dbdf3;
    background-color: #0dbdf3;
    padding: 0px;
}
#signup-label {
    margin: auto;
    padding-top: 10px;
    width: 50%;
    padding: 10px;
    align-content: center;
}

#signup-button {
    margin: auto;
    width: 20%;
    align-content: center;
}
