@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
  font-family: Ubuntu;
  margin: 0;
}

.App {
  background: linear-gradient(#FFFFFF 80%, #d9d9d9);
}